<nav>
    <div>
        <% const title = 'FAMILY FOOD BLOG' %>
        <a href="/"><h2><%= title %></h2></a>
        <p>Reviews</p>
    </div>
    <ul>
        <% if(user){ %>
            <li>Welcome, <%= user.email %></li>
            <li><a href="/blogs">All Posts</a></li>
            <li><a href="/blogs/new">New Post</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else{ %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        <% } %>
    </ul>
</nav>