<nav>
    <div>
        <a href="/"><h2>JUNG FAMILY FOOD BLOG</h2></a>
        <p>Reviews</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/blogs/new">New Blog</a></li>
    </ul>
</nav>